@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: var(--color-text-dark);
}

:root {
    --color-text-dark: #161616;
    --color-text-light: #f5f5f5;
    --color-hover: #512200bd;
    --color-main: #5ca720;
    --color-main-rgba: rgba(93, 166, 33, 0.6);
    --color-invalid-rgba: rgba(255, 0, 0, 0.6);
    --color-light: #a5a1a1;
    --color-light2: #f9f9f9;
    --color-border: #d9d9d9;
    --width-card: 25vw;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
    color: var(--color-text-light);
    font-weight: 900;
    background: var(--color-main);
    transition: 0.3s;
}

button:hover {
    background-color: var(--color-hover);
}

a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
}

a:hover {
    color: var(--color-hover);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2.2rem;
    margin: 1rem 0;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
}

span {
    font-size: 2.5rem;
    color: var(--color-main);
    border-bottom: 1px solid;
}

label {
    font-size: 2rem;
    font-weight: 900;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

header .container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 12rem;
    height: 3.1rem;
}

.menu-header img {
    width: 2.5rem;
    margin: 2rem;
}

.banner {
    height: 50vh;
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;
}

.promotion {
    padding: 1rem;
}

.promotion .container {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-cards {
    padding: 5.7rem 0 5.5rem 0;
    border-top: 0.5px solid var(--color-light);
    border-bottom: 0.5px solid var(--color-light);
}

.box-cards .container {
    display: flex;
    flex-wrap: wrap;
    gap: 4.5rem;
    justify-content: space-between;
}

.card-product {
    width: var(--width-card);
}

.box-img-product {
    position: relative;
}

.box-img-product:hover .description-product {
    visibility: visible;
}

.description-product {
    position: absolute;
    width: calc(var(--width-card) + 1vw);
    height: 90%;
    display: flex;
    align-items: center;
    background-color: var(--color-main-rgba);
    right: 0;
    bottom: 2px;
    padding: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    visibility: hidden;
}

.description-product p {
    color: var(--color-text-light);
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
}

.btn-buy {
    padding: 1rem 3rem;
    background-color: var(--color-main);
    color: var(--color-text-light);
    border-radius: 1.5rem;
    font-size: 2.4rem;
    margin-top: 2rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


footer {
    background-color: var(--color-light2);
}

.main-content-footer {
    border-bottom: 0.5px solid var(--color-light);
    padding: 4rem 0 2rem 0;
}

.main-content-footer .container {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    width: 40vw;
}

.box-input {
    display: flex;
    height: 6vh;
    margin-top: 2rem;
    flex-wrap: wrap;
}

input {
    border: 0.5px solid var(--color-border);
    border-right: 0;
    border-radius: 5px 0 0 5px;
    min-width: 30vw;
    height: 100%;
    padding-left: 1rem;
    outline: none;
}

input:required:not(:placeholder-shown):invalid {
    border-color: var(--color-invalid-rgba);
}

input:valid {
    border-color: var(--color-main-rgba);
}

.box-input:has(input:required:not(:placeholder-shown):invalid) .btn-register {
    background-color: var(--color-invalid-rgba);
    cursor: not-allowed;
}

.btn-register {
    min-width: 10vw;
    height: 100%;
    border-radius: 0 5px 5px 0;
    font-size: 2rem;
    font-weight: 900;
}

.links-footer .container {
    height: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links img {
    width: 2vw;
    margin: 1rem;
}

.payment-methods {
    display: flex;
    align-items: center;
}

.payment-methods img {
    width: 3vw;
    margin: 1rem;
}

.payment-methods img:nth-child(2) {
    width: 2vw;
}

@media (width <=200px) {
    :root {
        --width-card: 100%;
    }

    html {
        font-size: 50%;
    }

    body {
        overflow-x: hidden;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
    }

    p,
    label {
        font-size: 1.4rem;
    }

    a {
        font-size: 1.4rem;
    }

    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .card-product {
        padding: 1rem;
    }

    .banner {
        height: 50vh;
    }

    .btn-buy {
        padding: 1rem;
        font-size: 1.8rem;
        width: 100%;
    }

    header .container {
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 2rem;
    }

    .menu-header {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        padding: 0 1rem;
    }

    .menu-header img {
        margin: 0;
    }

    .card-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-product {
        display: none;
    }

    .box-cards {
        padding: 0;
    }

    .box-cards .container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding-bottom: 1rem;
    }

    .promotion .container {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .main-content-footer {
        padding: 1rem 0;
    }

    footer {
        padding: 0 1rem;
    }

    .main-content-footer .container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-bottom: 4rem;
        gap: 3rem;
    }

    .links-footer .container {
        height: auto;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-links {
        display: flex
    }

    .social-links img {
        width: 12vw;
    }

    .payment-methods img {
        width: 12vw;
        margin: 1rem;
    }

    .payment-methods img:nth-child(2) {
        width: 10vw;
    }
}

/* small mobile */
@media(201px <=width <=320px) {
    :root {
        --width-card: 90vw;
    }

    html {
        font-size: 50%;
    }

    .banner {
        height: 40vh;
    }

    .box-input {
        height: 15vh;
    }

}

/* mobile */
@media(321px <=width <=480px) {
    :root {
        --width-card: 40vw;
    }

    a {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    span,
    label {
        font-size: 1.8rem;
    }

    .menu-header img {
        margin: 1rem;
    }

    .banner {
        height: 30vh;
    }

    .box-cards {
        padding: 4rem 0 3rem 0;
    }

    .box-cards .container {
        gap: 3rem;
    }

    .btn-buy {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    .description-product p {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .main-content-footer {
        padding: 2rem 0;
    }

    .box-input {
        height: 10vh;
    }
}

/* small tablets */
@media(481px <=width <=767px) {}

/* Tablets, Ipads */
@media(768px <=width <1024px) {
    .box-input {
        height: 15vh;
    }
}

/* laptops */
@media(1025px <=width <=1280px) {}

@media(201px <=width <=630px) {
    .main-content-footer .container {
        height: auto;
        flex-direction: column;
        align-items: start;
        gap: 3rem;
        padding-bottom: 1rem;
    }

    form {
        width: 100%;
    }

    .box-input {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        margin-top: 1rem;
        height: 15vh;
    }

    input {
        border-right: 0.5px solid var(--color-border);
    }

    .btn-register,
    input {
        border-radius: 5px;
    }

    .social-links img {
        width: 8vw;
    }

    .payment-methods img {
        width: 10vw;
        margin: 1rem;
    }

    .payment-methods img:nth-child(2) {
        width: 8vw;
    }
}

@media(630px <=width <=1024px) {
    .main-content-footer .container {
        padding-bottom: 2rem;
    }

    .box-input {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .social-links img {
        width: 4vw;
    }

    .payment-methods img {
        width: 6vw;
        margin: 1rem;
    }

    .payment-methods img:nth-child(2) {
        width: 4vw;
    }
}